======================
動作環境
======================

.. include:: ../common/linkdef.rst

(サーバ) Windows で動作しますか？
====================================

BaaS v7.0.0 より Windows Server 2016 に対応しています。
(BaaS v7.0.0 未満は Windows には正式には対応しておりません)

以下サーバが動作環境対象です。

* API サーバ
* デベロッパーコンソールサーバ
* SSE Push サーバ

なお、Windows Server 2012 以降, Windows 7 以降(64bit版) でも動作はしますが、動作保証はしておりません。

MongoDB も合わせて Windows で動作させる場合は、MongoDB の動作環境も確認ください (MongoDB は 32bit Windows では動作しません)

以下サーバは Windows では動作しません。

* Cloud Functions サーバ

(サーバ) Java 11 以降で動作しますか？
======================================

モバイルバックエンド基盤 サーバ v7.5.0 より、OpenJDK 11 に対応しています。

Oracle JDK 11 でも動作するはずですが、現時点では保証対象外とさせていただいております。

(Node-RED) Node-RED 環境を構築する際に注意すべき点はありますか？
==================================================================

Node.js は v6 以降(推奨は v8以降)を使用してください。少なくとも v0.12.x 以下では動作しません。

Node.js の一部バージョン(v6.10.1, v7.6.0)で `Node.jsのメモリリーク`_ が報告されています。
運用時に使用する Node.js のバージョンには注意してください。
モバイルバックエンド基盤の Node-RED 評価では、 Node.js v6.10.0 のバージョンで問題ないことを確認しています。
    



