======================
動作環境
======================

.. include:: ../common/linkdef.rst

(サーバ) Windows で動作しますか？
====================================

BaaS v7.0.0 より Windows Server 2016 に対応しています。
(BaaS v7.0.0 未満は Windows には正式には対応しておりません)

以下サーバが動作環境対象です。

* API サーバ
* デベロッパーコンソールサーバ
* SSE Push サーバ

なお、Windows Server 2012 以降, Windows 7 以降(64bit版) でも動作はしますが、動作保証はしておりません。

MongoDB も合わせて Windows で動作させる場合は、MongoDB の動作環境も確認ください (MongoDB は 32bit Windows では動作しません)

以下サーバは Windows では動作しません。

* Cloud Functions サーバ

(サーバ) Java 9 以降で動作しますか？
====================================

Oracle JDK 9 で BaaS v7.0 サーバが動作することは確認済みですが、十分なテストができていないため正式動作保証範囲外となります。また、JDK 10 は未検証です。

なお、JDK 11(OpenJDK 11) については、これらのリリース後に対応する予定です。
(モバイルバックエンド基盤 v7.0 および v7.5 系列での対応予定)

(Node-RED) Node-RED 環境を構築する際に注意すべき点はありますか？
==================================================================

Node.js は v6 以降(推奨は v8以降)を使用してください。少なくとも v0.12.x 以下では動作しません。

Node.js の一部バージョン(v6.10.1, v7.6.0)で `Node.jsのメモリリーク`_ が報告されています。
運用時に使用する Node.js のバージョンには注意してください。
モバイルバックエンド基盤の Node-RED 評価では、 Node.js v6.10.0 のバージョンで問題ないことを確認しています。
    



